img#titleImg {
	position: absolute;
	top: 30px;
	left: 205px;
}

div#main {
	background-image: url("../images/snakes/playground.png");
	position: absolute;
	width: 630px;
	height: 480px;
	top: 50px;
	left: 5px;
}

div#playboard {
	background-color: blue;
	position: absolute;
	width: 550px;
	height: 425px;
	top: 30px;
	left: 35px;
}