@font-face {
	font-family: scoreFont;
	src: url(../font/digital-7/digital-7.ttf);
}

div#score {
	font-family: scoreFont;
	font-size: 150%;
	color: #FF0000;
	text-align: right;
}

div#level {
	font-family: scoreFont;
	font-size: 300%;
	color: #2196F3;
	text-align: center;
}